.background {
    position: absolute;
    top: 72px;
}

.side {
    position: relative;
    top: 180px;
    right: -11vw;
    min-width: 500px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: stretch;
}

.side2 {
    position: absolute;
    top: 15px;
    right: -60vw;
}

.side3 {
    position: absolute;
    top: 200px;
    right: -60vw;
}

.box {
    text-align: center;
}

#bookbook {
    top: 230px;
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: 900;
    font-size: 100px;
    text-shadow: 5px 2px whitesmoke;
}

#bookbook2 {
    position: relative;
    top: 150px;
    left: 8px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;

}

#title {
    color: black;
    text-align: center;
    font-family: "Monda", sans-serif;
    font-size: 30px;
    font-weight: 700;
}



#formHelperCheckbox {
    text-align: center;

}